* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/background.jpg");
	background-size: cover;

}

ul {
	min-height: 200px;

}

li {
	list-style: none;
	width: 100%;
	min-height: 100px;
	background-color: #99BBBD;
	background-size: cover;
	padding: 10px;
	margin: 20px 0;
	cursor: all-scroll;

}

.column {
	width: 30%;
	margin: 30px 1%;
	float: left;
	border: 2px solid #ccc;
	min-height: 500px;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	border-width: 5px;
	border-color: #01615C;
}

.column-container {
	display: flex;
	flex-direction: row;
	

	display: -webkit-flex;
	justify-content: center;
	flex-wrap: wrap;
}


.create-column {
	width: 200px;
	height: 50px;
	font-size: 25px;
	background: #99BBBD;
	margin-bottom : 20px;
	color: #01615C;	
	border-color: #01615C;
	
}

.create-column:hover {
	background: #01615C;
	color: #99BBBD;
	border-color: #99BBBD;
}

h1, h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 1100;
	text-align: center;
	font-size: 48px;
	margin-top: 40px;
	color: white;
}

h2 {
	font-size: 40px;
	color: #99BBBD;
}

.button {
	display: flex;
	flex-direction: row;
	
	display: -webkit-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.btn-delete {
	max-width: 120px;
	height: 40px;
	margin: 20px 10px;
	background:  #99BBBD;
	padding: 0 10px;
	color: #01615C;	
	border-color: #01615C;
	border-style: solid, 5px;
	font-size: 20px;
	font-weight: 500;
}

.btn-delete:hover {
	background: #01615C;
	color: #99BBBD;
	border-color: #99BBBD;
}

li .btn-delete {
	font-size: 15px;
	text-align: center;
	width: 25px;
	height: 25px;
	
	padding: 0 ;
}

.add-card {
	height: 40px;
	margin: 0 20px;
	padding: 0 10px;
	color: #01615C;	
	border-color: #01615C;
	border-style: solid, 5px;
	font-size: 20px;
	background-color: #99BBBD;	

}

.add-card:hover {
	background: #01615C;
	color: #99BBBD;
	border-color: #99BBBD;
}

.card p {
	text-align: left;
	font-size: 30px;
	color: #01615C;
}